html {
  background: url(https://www.pentasia.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaXhwIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--9b531a296e23edbb0ae0d85e4160a44a71b44f8e/1662_original.jpg)
}

#title {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: #54E36A;
}

#description {
  text-align: center;
  color: white;
  font-family: Helvetica, serif;
  font-size: 20px;
  font-style: italic;
}

#survey-form {
  width: 600px;
  height: 1450px;
  background-color: #1B7C35;
  opacity: 95%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5%
}

label {
  color: white;
  display: flex;
  align-items: center;
  transform: translate(33px, 20px);
  font-size: 23px;
  font-family: Helvetica, sans-serif;
}

#name {
  width: 525px;
  height: 40px;
  transform: translateY(25px);
}

#email {
  width: 525px;
  height: 40px;
  transform: translateY(25px);
}

#number {
  width: 525px;
  height: 40px;
  transform: translateY(25px);
}

#dropdown {
  width: 525px;
  height: 40px;
  transform: translateY(25px);
}

#programming-time {
  width: 200px;
}

#no-answer {
  transform: translate(-4px) scale(1.7);
  margin: 5px;
}

#kinda-answer {
  transform: translate(-4px) scale(1.7);
  margin: 5px;
}

#yes-answer {
  transform: translate(-4px) scale(1.7);
  margin: 5px;
}

#java-answer {
  transform: translate(-4px) scale(1.7);
  margin: 5px;
}

#python-answer {
  transform: translate(-4px) scale(1.7);
  margin: 5px;
}

#ruby-answer {
  transform: translate(-4px) scale(1.7);
  margin: 5px;
}

#javascript-answer {
  transform: translate(-4px) scale(1.7);
  margin: 5px;
}

#typescript-answer {
  transform: translate(-4px) scale(1.7);
  margin: 5px;
}

#php-answer {
  transform: translate(-4px) scale(1.7);
  margin: 5px;
}

#c-answer {
  transform: translate(-4px) scale(1.7);
  margin: 5px;
}

#other-answer {
  transform: translate(-4px) scale(1.7);
  margin: 5px;
}

#suggestion-text {
  border-radius: 6px;
  transform: translate(-17px, 12px);
}

#submit {
  width: 560px;
  height: 50px;
  background-color: #9039F0;
  border-radius: 2%;
  text-align: center;
  font-size: 24px;
  color: white;
  font-family: Helvetica, sans-serif;
}

#submit:hover {
  background-color: #9D5EE3;
  transition: all 0.5s;
  cursor: pointer;
}
